@use '../../styles//styles.scss' as *;

.tooltip {
  position: relative;

  &__popup {
    display: none;
    position: absolute;
    width: 300px;
    border-radius: 24px;
    border: 1px solid red;
    background-color: white;
    filter: drop-shadow(0px 0px 2px black);

    &__left {
      right: 105%;
      top: 70%;
      transform: translate(0, -50%);

      &::after {
        content: '';
        position: absolute;
        border-style: solid;
        border-radius: 2px;
        border-color: transparent black;
        display: block;
        width: 0;
        z-index: 1;
        border-width: 8px 0 8px 4px;
        right: -4px;
        top: 50%;
        transform: translate(0, -50%);
      }
    }

    &__visible {
      display: flex;
    }

    &__error {
      padding: 10px;
      border: 1px solid red;
      filter: drop-shadow(0px 0px 2px red);
      color: black;
      font-size: 18px;
      justify-content: center;

      &.tooltip__popup__left::after {
        border-color: transparent red;
      }
    }

    &__text,
    &__error__text {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
}
@media (max-width: $tablet) {
  .tooltip {
    &__popup {
      max-width: 250px;
      &__error {
        font-size: 12px;
        padding: 8px;
      }
    }
  }
  .main {
    margin-top: 20px;
    margin-left: 20px;
    height: calc(100vh - 40px);
    width: calc(100% - 40px);
  }
}

@media (max-width: $small-mobile) {
  .tooltip {
    &__popup {
      max-width: 180px;
      &__error {
        font-size: 10px;
        padding: 5px;
      }
    }
  }
  .main {
    margin-top: 10px;
    margin-left: 10px;
    height: calc(100vh - 20px);
    width: calc(100% - 20px);
  }
}
