@use '../../styles/styles.scss' as *;

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.title {
  color: #000000;
  padding-left: 10px;
  font-size: 18px;
}
.input {
  width: 400px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid #ffc64b;
  padding-left: 15px;
  font-size: 18px;

  &:focus {
    border-color: #3d3d3d;
    outline: none;
  }

  &::placeholder {
    font-size: 18px;
  }
}
.input__error {
  border-color: red;

  &:focus {
    border-color: red;
    outline: none;
    box-shadow: none;
  }
}

@media (max-width: $tablet) {
  .input {
    max-width: 300px;
    height: 36px;
    font-size: 12px;
    &::placeholder {
      font-size: 12px;
    }
  }
  .title {
    font-size: 12px;
  }
}
@media (max-width: $small-mobile) {
  .input {
    max-width: 180px;
    height: 24px;
    font-size: 10px;
    &::placeholder {
      font-size: 10px;
    }
  }
  .title {
    font-size: 10px;
  }
}
